.wrapper {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  background-color: black;
  border: 1px solid black;
}

.colorbar {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  gap: 1px 1px;
}

.borderColor {
  position: relative;
  display: flex;
  width: 80px;
  align-items: center;
  justify-content: center;
  border-right: 1px solid black;
}

.fillColor {
  width: 42px;
  height: 20px;
  border: 1px solid white;
}
