.app {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.middle {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.canvasWrapper {
  position: relative;
  width: 640px;
  height: 442px;
  display: flex;
  align-items: center;
  justify-content: center;
}
